<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gmg.Common" version="1.0.4" targetFramework="net451" />
  <package id="Gmg.Common.Extension" version="1.0.3" targetFramework="net451" />
  <package id="Gmg.Common.WindowsServiceBus" version="1.0.5" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="ServiceBus.v1_1" version="1.0.5" targetFramework="net451" />
</packages>